spring:
  cloud:
    gateway:
      routes:
        # gulimall-product商品服务
        - id: product_route
          uri: lb://gulimall-product #设置路由的uri
          predicates:
            - Path=/api/product/**  #设置路由断言
          filters:
            - RewritePath=/api/(?<segment>.*),/$\{segment}  #设置转发路径？

        # gulimall-member 会员系统
        - id: member_route
          uri: lb://gulimall-member #设置路由的uri
          predicates:
            - Path=/api/member/**  #设置路由断言
          filters:
            - RewritePath=/api/(?<segment>.*),/$\{segment}  #设置转发路径？

        # gulimall-ware 库存系统
        - id: ware_route
          uri: lb://gulimall-ware #设置路由的uri
          predicates:
            - Path=/api/ware/**  #设置路由断言
          filters:
            - RewritePath=/api/(?<segment>.*),/$\{segment}  #设置转发路径？

        # gulimall-third-party第三方服务
        - id: third_party_route
          uri: lb://gulimall-third-party #设置路由的uri
          predicates:
            - Path=/api/thirdparty/**  #设置路由断言
          filters:
            - RewritePath=/api/thirdparty/(?<segment>.*),/$\{segment}  #设置转发路径？

        # 映射前端路径（/api/**）----将以上没有匹配到的交给renren-fast进行匹配
        - id: admin_route   #设置路由的uri
          uri: lb://renren-fast #设置路由的uri
          predicates:
            - Path=/api/**  #设置路由断言
          filters:
            - RewritePath=/api/(?<segment>.*),/renren-fast/$\{segment}  #设置转发路径？ - id: admin_route   #设置路由的uri

        # nginx 转发到网关，网关进行配置转发到服务
        #访问gulimall.com 代理到 虚拟机、虚拟机的nginx接收、代理给 网关、网关转发到服务
        - id: gulimall_host_route   #设置路由的uri
          uri: lb://gulimall-product #设置路由的uri
          predicates:
            - Host=gulimall.com,item.gulimall.com

        #检索服务，将nginx的gulimall域名转给gulimall-search服务
        - id: gulimall_search_route
          uri: lb://gulimall-search
          predicates:
            - Host=search.gulimall.com